{% extends 'base.html.twig' %}

{% block title %}ENI Sortir - Profil de {{ user.username }}{% endblock %}

{% block body %}
    <main class="content-container stack" id="maincontent">
        <h1>Profil </h1>
        <div>
            {% if profilOrganizer.user.nameImage %}
                <img src="{{ asset('uploads/images/'~ profilOrganizer.user.nameImage) }}" alt="img">
            {% endif %}
            <div>
                <div>
                    <p>Prénom</p>
                    <input type="text" value="{{ profilOrganizer.firstname }}" readonly>
                </div>
                <div>
                    <p>Nom</p>
                    <input type="text" value="{{ profilOrganizer.name }}" readonly>
                </div>
                <div>
                    <p>Téléphone</p>
                    <input type="text" value="{{ profilOrganizer.phone }}" readonly>
                </div>
                <div>
                    <p>E-Mail</p>
                    <input type="email" value="{{ profilOrganizer.mail }}" readonly>
                </div>
                <div>
                    <p>Ville de rattachement</p>
                    <input type="text" value="{{ site.name }}" readonly>
                </div>
            </div>
        </div>
        <div>
            <button>Retour</button>
        </div>
    </main>

{% endblock %}