{% extends 'base.html.twig' %}

{% block title %}ENI Sortir - Profil de {{ user.username }}{% endblock %}

{% block body %}

    <main class="container">
        <h1>Mon profil</h1>
        <div class="grid">
            <img src="https://fastly.picsum.photos/id/619/200/300.jpg" alt="img">
            <div>
                <div class="grid">
                    <p>Prénom</p>
                    <input type="text" value="{{ profilOrganizer.firstname }}" readonly>
                </div>
                <div class="grid">
                    <p>Nom</p>
                    <input type="text" value="{{ profilOrganizer.name }}" readonly>
                </div>
                <div class="grid">
                    <p>Téléphone</p>
                    <input type="text" value="{{ profilOrganizer.phone }}" readonly>
                </div>
                <div class="grid">
                    <p>E-Mail</p>
                    <input type="email" value="{{ profilOrganizer.mail }}" readonly>
                </div>
                <div class="grid">
                    <p>Ville de rattachement</p>
                    <input type="text" value="{{ site.name }}" readonly>
                </div>
            </div>
        </div>
        <div class="grid">
            <button>Retour</button>
        </div>
    </main>

{% endblock %}