{% extends 'base.html.twig' %}

{% block title %}ENI Sortir - Mon profil{% endblock %}

{% block body %}


<main class="content-container" id="maincontent">
        <h1>Mon profil</h1>
        {% include 'partials/_flash.html.twig' %}
        {{ form_start(updateForm) }}
        <div>
            {% if app.user.nameImage %}
                <img src="{{ asset('uploads/images/'~ app.user.nameImage) }}" alt="img">
            {% endif %}
            <div>
                <div>
                    {{ form_label(updateForm.pseudo) }}
                    {{ form_widget(updateForm.pseudo) }}
                </div>
                <div>
                    {{ form_label(updateForm.firstName) }}
                    {{ form_widget(updateForm.firstName) }}
                </div>
                <div>
                    {{ form_label(updateForm.lastName) }}
                    {{ form_widget(updateForm.lastName) }}
                </div>
                <div>
                    {{ form_label(updateForm.phone) }}
                    {{ form_widget(updateForm.phone) }}
                </div>
                <div>
                    {{ form_label(updateForm.email) }}
                    {{ form_widget(updateForm.email) }}
                </div>
                <div>
                    {{ form_label(updateForm.password) }}
                    {{ form_widget(updateForm.password) }}
                </div>
                <div>
                    {{ form_label(updateForm.confirmPassword) }}
                    {{ form_widget(updateForm.confirmPassword) }}
                </div>
                <div>
                    {{ form_label(updateForm.city) }}
                    {{ form_widget(updateForm.city) }}
                </div>
                <div>
                    {{ form_label(updateForm.nameImage) }}
                    {{ form_widget(updateForm.nameImage) }}
                </div>
            </div>
        </div>

        <div>
            {{ form_widget(updateForm.send) }}
            <a class="btn" href="{{ path('app_profile') }}"">Annuler</a>
        </div>
        {{ form_end(updateForm) }}
    </main>

{% endblock %}
