{% extends 'base.html.twig' %}

{% block title %}ENI Sortir - Mon profil{% endblock %}

{% block body %}

    <main class="container">
        <h1>Mon profil</h1>
        <div class="grid">
            <img src="https://fastly.picsum.photos/id/619/200/300.jpg" alt="img">
            <div>
                <div class="grid">
                    <label for="pseudo">Pseudo</label>
                    <input id="pseudo" name="pseudo" type="text" value="{{ username }}">
                </div>
                <div class="grid">
                    <label for="firstName">Prénom</label>
                    <input id="firstName" name="firstName" type="text" value="{{ firstname }}">
                </div>
                <div class="grid">
                    <label for="lastName">Nom</label>
                    <input id="lastName" name="lastName" type="text" value="{{ lastName }}">
                </div>
                <div class="grid">
                    <label for="phone">Téléphone</label>
                    <input id="phone" name="phone" type="text" value="{{ phone }}">
                </div>
                <div class="grid">
                    <label for="email">E-Mail</label>
                    <input id="email" name="email" type="email" value="{{ email }}">
                </div>
                <div class="grid">
                    <label for="password">Mot de passe</label>
                    <input id="password" name="password" type="password">
                </div>
                <div class="grid">
                    <label for="confirmPassword">Confirmation</label>
                    <input id="confirmPassword" name="confirmPassword" type="password">
                </div>
                <div class="grid">
                    <label for="city">Ville de rattachement</label>
                    <select name="city" id="city">
                        <option value="{{ city }}" selected>{{ city }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="grid">
            <button>Enregistrer</button>
            <button>Annuler</button>
        </div>
    </main>

{% endblock %}
