{% extends 'base.html.twig' %}

{% block title %}ENI Sortir - Mon profil{% endblock %}

{% block body %}

    {% include 'partials/_header.html.twig' %}
    {% include 'partials/_flash.html.twig' %}

    <main class="container">
        <h1>Mon profil</h1>
        <form action="{{ path("app_profile_updateprofile") }}" method="post">
            {{ form_start(updateForm) }}
            <div class="grid">
                <img src="https://fastly.picsum.photos/id/619/200/300.jpg" alt="img">
                <div>
                    <div class="grid">
                        {{ form_label(updateForm.pseudo) }}
                        {{ form_widget(updateForm.pseudo) }}
                    </div>
                    <div class="grid">
                        {{ form_label(updateForm.firstName) }}
                        {{ form_widget(updateForm.firstName) }}
                    </div>
                    <div class="grid">
                        {{ form_label(updateForm.lastName) }}
                        {{ form_widget(updateForm.lastName) }}
                    </div>
                    <div class="grid">
                        {{ form_label(updateForm.phone) }}
                        {{ form_widget(updateForm.phone) }}
                    </div>
                    <div class="grid">
                        {{ form_label(updateForm.email) }}
                        {{ form_widget(updateForm.email) }}
                    </div>
                    <div class="grid">
                        {{ form_label(updateForm.password) }}
                        {{ form_widget(updateForm.password) }}
                    </div>
                    <div class="grid">
                        {{ form_label(updateForm.confirmPassword) }}
                        {{ form_widget(updateForm.confirmPassword) }}
                    </div>
                    <div class="grid">
                        {{ form_label(updateForm.city) }}
                        {{ form_widget(updateForm.city) }}
                    </div>
                </div>
            </div>
            <div class="grid">
                {{ form_widget(updateForm.send) }}
                <a href="{{ path('app_profile') }}" role="button">Annuler</a>
            </div>
            {{ form_end(updateForm) }}
        </form>
    </main>

{% endblock %}
