{% extends 'base.html.twig' %}

{% block body %}

    <h1>Annuler un événement</h1>

    {{ form_start(cancelForm) }}
        {{ form_row(cancelForm.eventId) }}

        {{ form_label(cancelForm.cancelMessage) }}
        {{ form_widget(cancelForm.cancelMessage) }}

        {{ csrf_token('cancel-event-' ~ cancelForm.eventId) }}
    {{ form_end(cancelForm) }}

{% endblock %}