{% extends 'base.html.twig' %}

{% block title %}Évènements disponibles{% endblock %}

{% block body %}
    {% include 'partials/_flash.html.twig' %}
    <table>
        <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Clôture</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ availableEvent.name }}</td>
                <td>{{ availableEvent.startDate | date('m/d/Y') }}</td>
                <td>{{ availableEvent.dateLimitRegister|date('m/d/Y') }}</td>
                <td>{{ availableEvent.state.label }}</td>
                <td>{{ availableEvent.maxRegister }}</td>
                {# <td>{{ user.profil.user.username }}</td> #}
                <td>{{ availableEvent.eventInfos }}</td>
            </tr>
        </tbody>
    </table>

    <form action="{{ path('app_event_cancel', {"id": availableEvent.id}) }}" method="post">
        <input type="hidden" name="token" id="token" value="{{ csrf_token('cancel-event-' ~ availableEvent.id) }}">
        <button type="submit" onclick="confirm('Voulez-vous vraiment annuler cet événement ?')">Annuler</button>
    </form>

{% endblock %}
