{% extends 'base.html.twig' %}

{% block title %}Évènements disponibles{% endblock %}

{% block body %}
    {% include 'partials/_flash.html.twig' %}
    <div class="container">
        <div class="row"> 
            <div class="grid col-xs-6">
                <p>Nom de la sortie</p>
                <input type="text" value="{{ availableEvent.name }}" readonly>
            </div>
            <div class="grid col-xs-6">
                <p>Ville organisatrice</p>
                <input type="text" value="{{ availableEvent.site.name }}" readonly>
            </div>
            <div class="grid col-xs-6">
                <p>Date de la sortie</p>
                <input type="text" value="{{ availableEvent.startDate | date('m/d/Y') }}" readonly>
            </div>
            <div class="grid col-xs-6">
                <p>Lieu</p>
                <input type="text" value="{{ availableEvent.place.name }}" readonly>
            </div>
            <div class="grid col-xs-6">
                <p>Date limite d'inscription</p>
                <input type="text" value="{{ availableEvent.dateLimitRegister|date('m/d/Y') }}" readonly>
            </div>
            <div class="grid col-xs-6">
                <p>Rue</p>
                <input type="text" value="{{ availableEvent.place.street }}" readonly>
            </div>
            <div class="grid col-xs-6">
                <p>Nombre de places</p>
                <input type="text" value="{{ availableEvent.maxRegister }}" readonly>
            </div>
            <div class="grid col-xs-6">
                <p>Code postal</p>
                <input type="text" value="{{ availableEvent.place.city.postCode }}" readonly>
            </div>
            <div class="grid col-xs-6">
                <p>Durée (minutes)</p>
                <input type="text" value="{{ availableEvent.duration }}" readonly>
            </div>
            <div class="grid col-xs-6">
                <p>Latitude</p>
                <input type="text" value="{{ availableEvent.place.latitude }}" readonly>
            </div>
            <div class="grid col-xs-6">
                <p>Description et infos</p>
                <input type="text" value="{{ availableEvent.eventInfos }}" readonly>
            </div>
            <div class="grid col-xs-6">
                <p>Longitude</p>
                <input type="text" value="{{ availableEvent.place.longitude }}" readonly>
            </div>
        </div>
    </div>

    <h3> Liste des participants Inscrits </h3>

    <div class="container">
        <table>
            <thead>
                <tr>
                    <th scope="col">Pseudo</th>
                    <th scope="col">Nom</th>
                </tr>
            </thead>
            <tbody>
                {% for member in memberInEvent %}
                <tr>
                    <td>{{ member.user.username|capitalize }}</td>
                    <td>{{ member.firstName|capitalize }} {{ member.name|upper }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

