{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
{% include "partials/_flash.html.twig" %}
<main class="content-container stack" id="maincontent">
    <h1>Créer une sortie</h1>

    {{ form_start(form) }}
    <div class="stack">
        <div class="field_type">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="field_type">
            {{ form_label(form.startDate) }}
            {{ form_widget(form.startDate) }}
        </div>
        <div class="field_type">
            {{ form_label(form.dateLimitRegister) }}
            {{ form_widget(form.dateLimitRegister) }}
        </div>
        <div class="field_type">
            {{ form_label(form.MaxRegister) }}
            {{ form_widget(form.MaxRegister) }}
        </div>
        <div class="field_type">
            {{ form_label(form.duration) }}
            {{ form_widget(form.duration) }}
        </div>
        <div class="field_type">
            {{ form_label(form.eventInfos) }}
            {{ form_widget(form.eventInfos) }}
        </div>
        <div class="field_type">
            {{ form_label(form.place) }}
            {{ form_widget(form.place) }}
        </div>
        <div>
            {{ form_widget(form.save) }}
            {{ form_widget(form.saveAndPublish) }}
        </div>
    </div>
    {{ form_end(form) }}

    <a class="btn" href="{{ path('app_main') }}">back to home</a>
</main>
{% endblock %}
