{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
{% include "partials/_flash.html.twig" %}
<main class="container">
    <h1>Create new Event</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="container">
        <button class="btn">{{ button_label|default('Save') }}</button>
        <input type="submit"  id='publishEvent' name="publishEvent" role="button" value="Publier">
    </div>
    {{ form_end(form) }}

    <a href="{{ path('app_main') }}">back to home</a>
    </main>
<footer>

</footer>
{% endblock %}

{%  block javascripts %}
<script>
document.querySelector("#publishEvent").addEventListener("click", function(event) {
    let publishedEvent = document.querySelector('#publish').value = true;
    console.log(publishedEvent);
  
}, false);
</script>
{% endblock %} 
