{% extends 'base.html.twig' %}

{% block title %}Évènements disponibles{% endblock %}

{% block body %}
<main class="content-container" id="maincontent">
    <h1>Évènements disponibles</h1>
    {% include 'partials/_flash.html.twig' %}
    {{ form_start(form) }}
        <div> 
            <div>
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>
            <div>
                <p>Ville organisatrice</p>
                <input type="text" value="{{ availableEvent.site.name }}">
            </div>
            <div>
                {{ form_label(form.startDate) }}
                {{ form_widget(form.startDate) }}
            </div>
            <div>
                {{ form_label(form.place) }}
                {{ form_widget(form.place) }}
            </div>
            <div>
                {{ form_label(form.dateLimitRegister) }}
                {{ form_widget(form.dateLimitRegister) }}
            </div>
            <div>
                <p>Date limite d'inscription</p>
                <input type="text" value="{{ availableEvent.dateLimitRegister|date('m/d/Y') }}" readonly>
            </div>
            <div>
                <p>Rue</p>
                <input type="text" value="{{ availableEvent.place.street }}">
            </div>
            <div>
                {{ form_label(form.MaxRegister) }}
                {{ form_widget(form.MaxRegister) }}
            </div>
            <div>
                <p>Code postal</p>
                <input type="text" value="{{ availableEvent.place.city.postCode }}">
            </div>
            <div>
                {{ form_label(form.duration) }}
                {{ form_widget(form.duration) }}
            </div>
            <div>
                <p>Latitude</p>
                <input type="text" value="{{ availableEvent.place.latitude }}">
            </div>
            <div>
                {{ form_label(form.eventInfos) }}
                {{ form_widget(form.eventInfos) }}
            </div>
            <div>
                <p>Longitude</p>
                <input type="text" value="{{ availableEvent.place.longitude }}">
            </div>
        </div>
    </main>
    <div>
        {{ form_widget(form.save) }} 
    </div>
    {{ form_end(form) }}
{% endblock %}

