{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
{% include "partials/_flash.html.twig" %}
<main class="container" id="maincontent">
    <div class="row">

        <h2 class="col-xs-12 col-md-8 col-md-offset-2">Se connecter</h2>
        <form method="post" class="col-xs-12 col-md-8 col-md-offset-2">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            
            {% if app.user %}
            <div>
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
            {% endif %}
            
            <div class="row">
                <label for="inputEmail" class="col-xs-4">Identifiant : </label>
                <input type="text" value="{{ last_username }}" name="emailUsername" id="inputEmailUsername" class="col-xs-8" required autofocus>
            </div>

            <div class="row">
                <label for="inputPassword" class="col-xs-4">Mot de passe : </label>
                <input type="password" name="password" id="inputPassword" class="col-xs-8" autocomplete="current-password" required>
            </div>
            
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="row">
                <button class="col-xs-12" type="submit">Sign in</button>
            </div>
            <div class="row">
                <label for="_remember_me"><input type="checkbox" name="_remember_me" id="_remember_me"> Se souvenir de moi</label>
            </div>
        </form>
    </div>
</main>
<footer>

</footer>
{% include "partials/_flash.html.twig" %}
{% endblock %}