{% set menu = [
        {"route":"app_main", "label":"Accueil"}, 
    ]
%}
{%
    set disconnectedlinks = [
        {"route":"app_login", "label":"Se connecter"},
        {"route":"app_register", "label":"S'enregistrer"},
    ]
%}
{%
    set connectedLinks = [
        {"route":"app_profile", "label":"Mon profil"},
        {"route":"app_logout", "label":"Se déconnecter"},
    ]
%}
    {% set adminLinks = [
        {"route":"app_user_index", "label":"Liste des utilisateurs"}
    ]
%}

{% set menu = app.user? menu|merge(connectedLinks):menu|merge(disconnectedlinks) %}

{% set menuAdmin = menu|merge(adminLinks) %}

<header class="container">
    <nav aria-labelledby="sections-heading">
        <h1><a href="{{url("app_main")}}">Sortir.com</a></h1>
        <ul>
            {% if is_granted("ROLE_ADMIN") %}
                {% for item in menuAdmin %}
                    <li><a href="{{url(item.route)}}" {% if app.request.attributes.get( '_route' ) starts with item.route %} aria-current="page"{% endif %}>{{item.label}}</a></li>
                {% endfor %}
            {% elseif is_granted("ROLE_USER") %}
                {% for item in menu %}
                    <li>
                        <a href="{{url(item.route)}}" {% if app.request.attributes.get( '_route' ) starts with item.route %}aria-current="page"{% endif %}>{{item.label}}</a>
                    </li>
                {% endfor %}
            {% else %}
                {% for item in menu %}
                    <li><a href="{{url(item.route)}}" {% if app.request.attributes.get( '_route' ) starts with item.route %} aria-current="page"{% endif %}>{{item.label}}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </nav>
</header>