
{{ form_start(eventFilterForm) }}
<h2>Filtrer les sorties</h2>

<div class="my-custom-class-for-errors">
    {{ form_errors(eventFilterForm) }}
</div>

<div class="event-filters-container">
    <div class="stack">
        <div class="field_type">
            {{ form_label(eventFilterForm.site) }}
            {{ form_widget(eventFilterForm.site) }}
        </div>
        <div class="field_type">
            {{ form_label(eventFilterForm.event_name) }}
            {{ form_widget(eventFilterForm.event_name) }}
        </div>
        <div>Entre {{ form_widget(eventFilterForm.start_date) }} et {{ form_widget(eventFilterForm.end_date) }}</div>
    </div>
    <div>
        <div>{{ form_widget(eventFilterForm.is_organizer) }} {{ form_label(eventFilterForm.is_organizer) }}</div>
        <div>{{ form_widget(eventFilterForm.is_member) }} {{ form_label(eventFilterForm.is_member) }}</div>
        <div>{{ form_widget(eventFilterForm.is_not_member) }} {{ form_label(eventFilterForm.is_not_member) }}</div>
        <div>{{ form_widget(eventFilterForm.is_passed_event) }} {{ form_label(eventFilterForm.is_passed_event) }}</div>
    </div>
    
    <div>
        <button type="submit">{{ button_label|default('Rechercher') }}</button>
    </div>
</div>

{{ form_end(eventFilterForm) }}