{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
{% include "partials/_flash.html.twig" %}
<main class="container" id="maincontent">
    {{ include('main/_form.html.twig') }}

    <table>
        <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Clôture</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit/Places</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for event in event_list %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.startDate | date('m/d/Y') }}</td>
                <td>{{ event.dateLimitRegister|date('m/d/Y') }}</td>
                <td>{{ event.state.identifier }}</td>
                <td>{{ event.members|length }} / {{ event.maxRegister }}</td>
                <td><a href="{{ path('app_profile_detail_id',{id:event.organizer.id}) }}">{{ event.organizer.name }}</a>
                <td><a href="{{ path('app_event_detail',{id:event.id}) }}">Afficher - </a>
                    <a href="{{ path('app_event_inscription',{id:event.id}) }}">S'incrire - </a>
                    <a href="{{ path('app_event_unsub', {id:event.id}) }}">Se désister</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_event_new')}}" role="button">Créer une sortie</a>
</main>
<footer>

</footer>
{% endblock %}
