{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
{% include "partials/_flash.html.twig" %}
<main class="container">
    {{ form_start(eventFilterForm) }}
    <h2>Filtrer les sorties</h2>

    <div class="my-custom-class-for-errors">
        {{ form_errors(eventFilterForm) }}
    </div>

    <div class="row">
        <div class="col-xs-5">
            {{ form_label(eventFilterForm.site) }}
            {{ form_widget(eventFilterForm.site) }}
            {{ form_label(eventFilterForm.event_name) }}
            {{ form_widget(eventFilterForm.event_name) }}
            <span>Entre {{ form_widget(eventFilterForm.start_date) }} et {{ form_widget(eventFilterForm.end_date) }}</span>
        </div>
        <div class="col-xs-5">
            <div>{{ form_widget(eventFilterForm.is_organizer) }} {{ form_label(eventFilterForm.is_organizer) }}</div>
            <div>{{ form_widget(eventFilterForm.is_member) }} {{ form_label(eventFilterForm.is_member) }}</div>
            <div>{{ form_widget(eventFilterForm.is_not_member) }} {{ form_label(eventFilterForm.is_not_member) }}</div>
            <div>{{ form_widget(eventFilterForm.is_passed_event) }} {{ form_label(eventFilterForm.is_passed_event) }}</div>
        </div>
        <div class="col-xs-2" >
            <button type="submit">Rechercher</button>
        </div>
    </div>

    {{ form_end(eventFilterForm) }}

    <table>
        <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Clôture</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for event in event_list %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.startDate | date('m/d/Y') }}</td>
                <td>{{ event.dateLimitRegister|date('m/d/Y') }}</td>
                <td>{{ event.state.label }}</td>
                <td>{{ event.maxRegister }}</td>
                <td><a href="{{ path('app_profile_detail_id',{id:event.organizer.id}) }}">{{ event.organizer.name }}</a>
                <td><a href="{{ path('app_event_detail',{id:event.id}) }}">Afficher - </a>
                    <a href="{{ path('app_event_inscription',{id:event.id}) }}">S'incrire - </a>
                    <a href="">Se désister</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_event_new')}}" role="button">Créer une sortie</a>
</main>
<footer>

</footer>
{% endblock %}
